.idea
./app/.idea
./docker/.idea
./docker/zsh/.composer
./docker/zsh/.npm
./docker/zsh/.symfony5
./docker/zsh/.zsh_history
./docker/zsh/zsh.d/.oh-my-zsh/cache/*
!./docker/zsh/zsh.d/.oh-my-zsh/cache/.gitkeep
